/*main-content*/

.bread-crumbs span:last-child {
    color: #9c9c9c;
}

/*product-card*/

.product-card {
    margin-bottom: 75px;
}

.product-card h1 {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 60px;
    margin-top: 0;
}

.product-card__inner {
    display: flex;
    gap: 66px;
    margin-bottom: 33px;
}

.product-card__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-card__info p {
    font-size: 16px;
    line-height: 26px;

}

.product-card__info p:first-child {
    margin-top: 0;
}

.product-card__info p:last-of-type {
    margin-bottom: 0;
}

.product-card__info .price {
    font-size: 20px;
    font-weight: 600;
    margin-top: 67px;
    margin-bottom: 40px;
}

.product-card__price span {
    font-size: 36px;
}

.product-card__buttons {
    display: flex;
    gap: 27px
}

.product-card__buttons button {
    width: 250px;
    height: 48px;
    color: white;
    border: none;
    border-radius: 3px;
    font-family: Montserrat, serif;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
}

.product-card__buttons button:first-child {
    background-color: #7F9D64;
}

.product-card__buttons button:last-child {
    background-color: #CDBD84;
}

.product-card__photos {
    display: flex;
    gap: 23px;
}

.product-card__photos img {
    cursor: pointer;
}

/*product-characteristics*/

.product-characteristics {
    margin-bottom: 112px;
}

.product-characteristics__sections {
    display: flex;
    gap: 2px;
}

.product-characteristics__sections span{
    font-size: 16px;
    font-weight: 600;
    padding:16px 28px;
    color: white;
    background-color: #CACACA;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom: 2px solid white;
}

.product-characteristics__sections .active{
    background-color: #CDBD84;
    border:none
}

.product-table {
    border: 1px solid #CDBD84;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    padding: 31px 26px 0 26px;
}

.product-table td,th {
    border: 1px solid #DCDCDC;
    font-size: 14px;
    text-align: center;
    vertical-align: top;
    padding: 13px 16px;
}


.product-table table {
    border-collapse: collapse;
    border-spacing: 0; /* Убираем лишние зазоры */
    margin-bottom: 52px;
    height: 427px;
}

.product-table thead tr:first-child th {
    border-bottom: 1px solid #7F9D64;
}

.product-table thead tr:first-child th:nth-child(2) {
    vertical-align: top;
}


.product-table tr:first-child th {
    border-top: none; /* Верхняя внешняя рамка */
}

.product-table tr th:first-child,
.product-table tr td:first-child {
    border-left: none; /* Левая внешняя рамка */
    text-align: left;
}

.product-table tr th:first-child {
    padding-left: 0;
}


.product-table__left-align {
    text-align: left;
    vertical-align: middle;
    }

.product-table tbody tr th:first-child {
    font-weight: 400;
    vertical-align: top;
}

.product-table tr th:last-child,
.product-table tr td:last-child {
    border-right: none; /* Правая внешняя рамка */
}

.product-table tr:last-child td,
.product-table tr:last-child th{
    border-bottom: none; /* Нижняя внешняя рамка */
}

.product-table__details h2 {
    margin-bottom: 38px;
    margin-top: 0;
}

.product-table__details p:last-child {
    margin-top: 40px;
    margin-bottom: 50px;
}

.product-table__details p {
    font-size: 16px;
    line-height: 26px;

}