/*main-content*/
.bread-crumbs span:last-child {
    color: #9c9c9c;
}

/*card-product*/

.card-product {
    margin-bottom: 75px;
}

.card-product h1 {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 60px;
    margin-top: 0;
}

.product-inner {
    display: flex;
    gap: 66px;
    margin-bottom: 33px;
}

.product-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-info p {
    font-size: 16px;
    line-height: 26px;

}

.product-info p:first-child {
    margin-top: 0;
}

.product-info p:last-of-type {
    margin-bottom: 0;
}

.product-info .price {
    font-size: 20px;
    font-weight: 600;
    margin-top: 67px;
    margin-bottom: 40px;
}

.product-info .price span {
    font-size: 36px;
}

.buttons-container {
    display: flex;
    gap: 27px
}

.buttons-container button {
    width: 250px;
    height: 48px;
    color: white;
    border: none;
    border-radius: 3px;
    font-family: Montserrat, serif;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
}

.buttons-container button:first-child {
    background-color: #7F9D64;
}

.buttons-container button:last-child {
    background-color: #CDBD84;
}

.product-photos {
    display: flex;
    gap: 23px;
}

.product-photos img {
    cursor: pointer;
}

/*product-detail*/

.product-detail {
    margin-bottom: 112px;
}

.product-sections {
    display: flex;
    gap: 2px;
}

.product-sections span {
    font-size: 16px;
    font-weight: 600;
    padding:16px 28px;
    color: white;
    background-color: #CACACA;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom: 2px solid white;
}

.product-sections .active{
    background-color: #CDBD84;
    border:none
}

.details-wrapper {
    border: 1px solid #CDBD84;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    padding: 31px 26px 0 26px;
}

td,th {
    border: 1px solid #DCDCDC;
    font-size: 14px;
    text-align: center;
    vertical-align: top;
    padding: 13px 16px;
}


table {
    border-collapse: collapse;
    border-spacing: 0; /* Убираем лишние зазоры */
    margin-bottom: 52px;
    height: 427px;
}

thead tr:first-child th {
    border-bottom: 1px solid #7F9D64;
}

thead tr:first-child th:nth-child(2) {
    vertical-align: top;
}


tr:first-child th {
    border-top: none; /* Верхняя внешняя рамка */
}

tr th:first-child,
tr td:first-child {
    border-left: none; /* Левая внешняя рамка */
    text-align: left;
}

tr th:first-child {
    padding-left: 0;
}


.left-align {
    text-align: left;
    vertical-align: middle;
    }

tbody tr th:first-child {
    font-weight: 400;
    vertical-align: top;
}

tr th:last-child,
tr td:last-child {
    border-right: none; /* Правая внешняя рамка */
}

tr:last-child td,
tr:last-child th{
    border-bottom: none; /* Нижняя внешняя рамка */
}

.details h2 {
    margin-bottom: 38px;
    margin-top: 0;
}

.details p:last-child {
    margin-top: 40px;
    margin-bottom: 50px;
}

.details p {
    font-size: 16px;
    line-height: 26px;

}