@import "./tablet-ver.css" ;
@import "./mobile-ver.css";

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}



body {
  font-family: Montserrat, serif;
  margin: 0;
}

/*pop-up-menu*/

.menu-popup {
  position: fixed;
  top: 0;
  left: -1000px;
  width: 320px;
  height: 100%;
  background-color: white;
  color: black;
  transition: left 0.3s ease-in-out;
  padding: 20px;
  z-index: 1000;
}

.menu-popup.show {
  left: 0;
}

.menu-popup__content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.menu-popup__navigation {
  display: flex;
  flex-direction: column;
  gap: 20px
}

.menu-popup__item {
  font-weight: 600;
}

.menu-popup__content img {
  cursor: pointer;
}

.menu-popup__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out;
  z-index: 1000;
}

.menu-popup__overlay.active {
  opacity: 1;
  visibility: visible;
}


/*header*/

.page-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.page-header__content {
  width: 100%;
  max-width: 1290px;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  box-sizing: border-box;
}

.page-header__logo-wrapper {
  display: flex;
  align-items: center;
  gap: 37px;
}


.page-header__burger-icon {
  display: none;
  cursor: pointer;
  width: 28px;
  height: 23px;
}

.page-header__logo-wrapper img:last-child {
  margin-right: 100px;
}

.page-header__header-items {
  width: min-content;
  display: flex;
  align-items: center;
  gap: 58px;
  @media (max-width: 1096px) {
    gap: 37px;
  }
}


.page-header__navigation-wrapper {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.page-header__navigation-wrapper p {
  margin: 0;
}

.page-header__navigation {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.page-header__navigation-item {
  font-weight: 600;
}

.page-header__schedule {
  display: flex;
}

.page-header__schedule p {
  text-wrap: nowrap;
}

.page-header__mail-wrapper {
  margin-top: auto;
}

.mail {
  margin: 0;
  color: #69A54D;
  font-size: 20px;
  cursor: pointer;
}

.page-header__languages-and-contacts {
  display: flex;
  flex-direction: column;
  gap: 28px;
  font-size: 16px;
  line-height: 19px;
}

.page-header__languages {
  display: flex;
  justify-content: space-between;
}

.page-header__language-switcher {
  display: flex;
  gap: 7px;
}

.page-header__language-switcher div {
  border: 1px solid rgba(196, 196, 196, 0.3);
}

.page-header__language-switcher span:first-child {
  text-wrap: nowrap;
  cursor: pointer;
}

.page-header__language-switcher span:last-child {
  color: #69A54D;
  cursor: pointer;
}

.page-header__language-selection {
  display: flex;
  gap: 8px;
  align-items: center;
  cursor: pointer;
}

.page-header__language-selection span {
  text-wrap: nowrap;
}

.telephone-numbers p {
  margin: 0;
  font-weight: 600;
  font-size: 20px;
  text-wrap: nowrap;
}

.sub-header {
  display: flex;
  justify-content: center;
  background-color: rgba(127, 157, 100, 1);
  width: 100%;
  margin-bottom: 62px;
}


.sub-header__menu {
  width: 100%;
  max-width: 1290px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 19px 40px;
}

.sub-header__menu a {
  font-size: 20px;
  font-weight: 600;
  color: white;
  line-height: 24px;
  cursor: pointer;
}

.sub-header__menu a:first-child {
  padding-bottom: 10px;
}

.sub-header__menu img {
  margin-left: 118px;
  cursor: pointer;
}

/*main content*/

.main {
  width: 100%;
  box-sizing: border-box;
}

.main__content-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main__content {
  width: 100%;
  max-width: 1290px;
  box-sizing: border-box;
  padding: 0 40px;
}

.main__content h2 {
  font-size: 48px;
  font-weight: 700;
  margin-top: 69px;
  text-wrap: wrap;
}

/*hero-block*/

.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.hero__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  max-width: 1290px;
  padding: 0 40px;
  box-sizing: border-box;
}

.hero__navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1290px;
  margin-top: 19px;
  z-index: 2;
  color: white;
}


.hero__menu {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  font-weight: 600;
  width: 838px;
  gap: 20px;
}

.hero__menu p {
  cursor: pointer;
  margin: 0;
}

.hero__title-wrapper {
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.hero__title {
  font-size: clamp(57px, 8vw, 108px);
  font-weight: 800;
  opacity: 0.7;
  margin: 0;
}

.hero__sup-title {
  font-size: 26px;
  width: 100%;
  max-width: 882px;
  font-weight: 500;
  text-align: center;
  line-height: 40px;
}

.hero__carousel {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 20px;
  width: 100%;
}

.hero__carousel-content {
  display: flex;
  align-items: center;
  gap: 25px;
  width: 100%;
}

.hero__carousel-content {
  cursor: pointer;
}

.hero__carousel-line {
  border: 1px solid rgba(255, 255, 255, 0.2);
  width: 100%;
}

.hero__carousel span {
  font-size: 96px;
  font-weight: 700;
  color: white;
  opacity: 0.7;
}

/*statistics*/


.main__description {
  font-size: 18px;
  line-height: 30px;
  margin: 0;
}

.main__description:last-of-type {
  margin-top: 30px;
}

.main__statistics {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  justify-content: space-between;
  margin-top: 60px;
  margin-bottom: 61px;
}


.main__statistics-number {
  font-size: 80px;
  line-height: 97px;
  font-weight: 700;
  color: #CDBD84;
  padding: 0;
  margin: 0;
  white-space: nowrap;
}

.main__statistics-number span {
  font-size: 24px;
  line-height: 58px;
}

.main__statistics li p {
  font-size: 18px;
  line-height: 30px;
  text-align: left;
}

/*elevator-equipment*/

.elevator-equipment {
  margin-bottom: 75px;

}

h3 {
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
}

.elevator-equipment__images {
  display: grid;
  grid-template-columns:1fr 1fr 1fr 1fr;
  gap: 30px;
}

.elevator-equipment__image {
  position: relative;
  cursor: pointer;
  display: inline-block;
  max-width: 100%;
  margin: 0 auto;
}

.elevator-equipment__image img {
  max-width: 300px;
  max-height: 240px;
}

.elevator-equipment__image p {
  position: absolute;
  top: 20px;
  left: 20px;
  color: white;
  font-size: clamp(16px, 2vw, 22px);
  font-weight: 600;
  margin: 0;
}


.elevator-equipment__image img:first-child {
  width: 100%;
  height: 100%;
  filter: brightness(70%);
}

.elevator-equipment__image img:last-child {
  position: absolute;
  bottom: 30px;
  left: 20px;
  height: 22px;
  width: 39px;
}

/*another-equipment*/

.another-equipment {
  margin-bottom: 69px;
}

.another-equipment__images {
  display: grid;
  grid-template-columns:1fr 1fr;
  gap: 30px;
}

.another-equipment__image {
  position: relative;
  cursor: pointer;
  display: inline-block;
  max-width: 630px;
  max-height: 240px;
}

.another-equipment__image p {
  position: absolute;
  top: 20px;
  left: 20px;
  color: white;
  font-size: clamp(12px, 20vw, 22px);
  font-weight: 600;
  margin: 0;
}

.another-equipment__image img:first-child {
  width: 100%;
  height: 100%;
  filter: brightness(70%);
}

.another-equipment__image img:last-child {
  position: absolute;
  bottom: 20px;
  left: 20px;
  height: 22px;
  width: 39px;
}

.another-equipment__info {
  margin-top: 62px;
}

.another-equipment__info p {
  font-size: 18px;
  line-height: 30px;
}

/*services*/

.services {
  margin-bottom: 67px;
}

.services__content {
  display: grid;
  grid-template-columns:1fr 1fr;
  gap: 30px;
}

.service__image {
  cursor: pointer;
  position: relative;
  display: inline-block;
  max-width: 630px;
  max-height: 240px;
}

.service__image img {
  width: 100%;
  height: 100%;
}

.service__image span {
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: clamp(48px, 10vw, 72px);
  font-weight: 700;
  opacity: 0.5;
  color: white;
  padding: 0;
  margin: 0;
}

.service__description h4 {
  font-size: 22px;
  font-weight: 600;
  color: #69A54D;
  margin: 31px 0 0 0;
}

.service__description p {
  font-size: 16px;
  line-height: 24px;
  color: black;
}

/*company-news*/

.company-news {
  margin-bottom: 130px;
}

.company-news__title-wrapper h3 {
  font-size: 40px;
}

.company-news__title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.company-news__title-wrapper div {
  display: flex;
  gap: 25px;
}

.company-news__title-wrapper img {
  cursor: pointer;
}

.company-news__content {
  display: grid;
  grid-template-columns:1fr 1fr 1fr;
  gap: 30px;
}

.news-card__image {
  display: inline-block;
  max-width: 410px;
  max-height: 240px;
}

.news-card img {
  width: 100%;
  height: 100%;
}

.news-card h4 {
  font-size: 22px;
  font-weight: 600;
  color: #69A54D;
  margin: 31px 0 17px 0;
}

.news-card time {
  font-size: 14px;
  font-weight: 600;
  color: #CAC1A0;
}

.news-card p {
  font-size: 16px;
  line-height: 24px;
}

/*feedback-form*/

.feedback-form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #7F9D64;
  padding-top: 75px;
  padding-bottom: 102px;
}

.feedback-form__content {
  width: 100%;
  max-width: 1290px;
}

.feedback-form__content form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 40px;
}

form span {
  font-size: 16px;
  color: white;
  margin-top: 24px;
  margin-bottom: 50px;
  text-align: center;
}

form button {
  width: 250px;
  height: 48px;
  color: #69A54D;
  font-size: 16px;
  font-weight: 600;
  font-family: Montserrat, serif;
  cursor: pointer;
}

.feedback-form__content h3 {
  color: white;
  margin-bottom: 55px;
  margin-top: 0;
  font-size: 40px;
  line-height: 48px;
}

.feedback-form__content input {
  background-color: #7F9D64;
  border: 1px solid rgba(255, 255, 255, 0.48);
  color: white;
  padding: 13px 0 13px 19px;
  font-size: 16px;
}

.feedback-form__content textarea {
  background-color: #7F9D64;
  border: 1px solid rgba(255, 255, 255, 0.48);
  color: white;
  padding: 13px 0 13px 19px;
  font-size: 16px;
  resize: none;
  min-height: 143px;
}

.feedback-form__content textarea::placeholder {
  color: white;
  font-size: 16px;
  font-family: Montserrat, serif;
}

.feedback-form__content input::placeholder {
  color: white;
  font-size: 16px;
  font-family: Montserrat, serif;
}

.feedback-form__inputs {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.feedback-form__contact-info {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  width: 100%;
}

.feedback-form__contact-info input {
  flex: 1;
  min-width: 0;
}

/*footer*/

.footer {
  width: 100%;
  background-color: rgba(232, 222, 186, 0.28);
  box-sizing: border-box;
}

.footer__content {
  box-sizing: border-box;
  width: 100%;
}

.footer__navigation-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid rgba(228, 228, 228, 1);
}

.footer__navigation {
  display: flex;
  max-width: 1290px;
  width: 100%;
  gap: 40px;
  align-items: flex-start;
  justify-content: space-between;
  padding: 64px 40px;
  box-sizing: border-box;
}

.footer__logo-wrapper {
  display: flex;
  gap: 94px;
}

.footer__logo-wrapper img {
  width: 132px;
  height: 116px;
}


.footer__links {
  display: flex;
  flex-direction: column;
  gap: 18px;
  font-size: 16px;
}

.footer__contacts-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid rgba(228, 228, 228, 1);
}

.footer__contacts {
  display: flex;
  gap: 40px;
  width: 100%;
  max-width: 1290px;
  padding: 40px 40px;
  box-sizing: border-box;
  justify-content: space-between;
}

.footer__contacts p {
  font-size: 16px;
  line-height: 24px;
}


.footer__contacts img {
  width: 32px;
  height: 32px;
}


.footer__company-info-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: white;
  border-bottom: none;
}

.footer__company-info {
  display: flex;
  max-width: 1290px;
  width: 100%;
  gap: 18px;
  justify-content: space-between;
  padding: 26px 40px 36px 40px;
  box-sizing: border-box;
}

.footer__company-info p {
  font-size: 16px;
  color: rgba(34, 34, 34, 1);
}




