body {
  font-family: Montserrat, serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
}

/*pop-up-menu*/

.popup {
  position: fixed;
  top: 0;
  left: -400px;
  width: 340px;
  height: 100%;
  background-color: white;
  color: black;
  transition: left 0.3s ease-in-out;
  padding: 20px;
  z-index: 1000;
}

.popup.show {
  left: 0;
}

.menu {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.menu-wrapper {
  display: flex;
  flex-direction: column;
  gap:20px
}

.menu img{
  cursor: pointer;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out;
  z-index: 1000;
}

.overlay.active {
  opacity: 1;
  visibility: visible;
}


/*header*/

.page-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.header-wrapper {
  width: 100%;
  max-width: 1290px;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  box-sizing: border-box;
  @media (max-width: 1096px) {
    font-size: 14px;
    padding: 15px 40px;
  }
  @media (max-width: 340px) {
    padding: 15px 20px;
  }

}

.logo {
  display: flex;
  align-items: center;
  gap: 37px;
}


.burger-icon {
  display: none;
  cursor: pointer;
  width: 28px;
  height: 23px;
  @media (max-width: 1096px) {
    display: block;
  }
}

.logo img:last-child {
  margin-right: 100px;

  @media (max-width: 1096px) {
    margin: 0;
    width: 106px;
    height: 93px;
  }
  @media (max-width: 430px) {
    width: 79px;
    height: 69px;
  }
}

.header-items {
  width: min-content;
  display: flex;
  align-items: center;
  gap: 58px;
  @media (max-width: 1096px) {
    gap: 37px;
  }
}


.site-navigation-wrapper {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.site-navigation-wrapper p {
  margin: 0;
}

.site-navigation {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  @media (max-width: 1096px) {
    display: none;
  }
}

.site-navigation-item {
  font-weight: 600;
}

.schedule {
  display: flex;
  @media (max-width: 1096px) {
    flex-direction: column;
    text-align: right;
    margin-left: 65px;
  }
  @media (max-width: 780px) {
    display: none;
  }
}

.schedule p {
  text-wrap: nowrap;
}

.mail-container {
  margin-top: auto;
  @media (max-width: 1322px) {
    display: none;
  }
}

.mail {
  margin: 0;
  color: #69A54D;
  font-size: 20px;
  cursor: pointer;
}

.languages-and-contacts {
  display: flex;
  flex-direction: column;
  gap: 28px;
  font-size: 16px;
  line-height: 19px;
}

.languages {
  display: flex;
  justify-content: space-between;
  @media (max-width: 780px) {
    flex-direction: column;
    align-items: flex-end;
  }
}

.language-switcher {
  display: flex;
  gap: 7px;
  @media (max-width: 1096px) {
    font-size: 14px;
    line-height: 17px;
  }
}

.language-switcher div {
  border: 1px solid rgba(196, 196, 196, 0.3);
}

.language-switcher span:first-child {
  text-wrap: nowrap;
  cursor: pointer;
}

.language-switcher span:last-child {
  color: #69A54D;
  cursor: pointer;
}

.language-selection {
  display: flex;
  gap: 8px;
  align-items: center;
  cursor: pointer;
}

.language-selection span {
  text-wrap: nowrap;
}

.telephone-numbers {
  @media (max-width: 780px) {
    display: none;
  }
}

.telephone-numbers p {
  margin: 0;
  font-weight: 600;
  font-size: 20px;
  text-wrap: nowrap;
}

.sub-header-container {
  display: flex;
  justify-content: center;
  background-color: rgba(127, 157, 100, 1);
  width: 100%;
  margin-bottom: 62px;
}


.sub-header {
  width: 1290px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 19px 0;
}

.sub-header a {
  font-size: 20px;
  font-weight: 600;
  color: white;
  line-height: 24px;
  cursor: pointer;
}

.sub-header a:first-child {
  padding-bottom: 10px;
}

.sub-header img {
  margin-left: 118px;
  cursor: pointer;
}

/*main content*/

main {
  width: 100%;
  box-sizing: border-box;
}

.main-content-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.main-content {
  width: 100%;
  max-width: 1290px;
  box-sizing: border-box;
  padding: 0 40px;
  @media (max-width: 768px) {
    padding: 0 40px;
  }
  @media (max-width: 340px) {
    padding: 0 20px;
  }
}

.main-content h2, h3 {
  @media (max-width: 340px) {
    text-align: center;
  }
}

.main-content h2 {
  font-size: 48px;
  font-weight: 700;
  margin-top: 69px;
  text-wrap: wrap;
  @media (max-width: 768px) {
    font-size: 38px;
  }
  @media (max-width: 526px) {
    font-size: 26px;
    line-height: 31px;
  }
}

/*hero-block*/

.hero-wrapper {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  @media (max-width: 768px) {
    max-height: 514px;

  }
  @media (max-width: 340px) {
    max-height: 375px;
  }
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  max-width: 1290px;
  padding: 0 40px;
  box-sizing: border-box;
  @media (max-width: 340px) {
    padding: 0 20px;
  }
}

.hero-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1290px;
  margin-top: 19px;
  z-index: 2;
  color: white;
  @media (max-width: 1096px) {
    justify-content: flex-end;
    width: 100%;
  }
}


.hero-navigation-menu {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  font-weight: 600;
  width: 838px;
  gap: 20px;
  @media (max-width: 1096px) {
    display: none;
  }
}

.hero-navigation div p {
  cursor: pointer;
  margin: 0;
}

.hero-title {
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.hero-title h1 {
  font-size: clamp(57px, 8vw, 108px);
  font-weight: 800;
  opacity: 0.7;
  margin: 0;
  @media (max-width: 768px) {
    font-size: clamp(25px, 8vw, 57px);
  }
  @media (max-width: 340px) {
    font-size: 25px
  }
}

.hero-title p {
  font-size: 26px;
  width: 100%;
  max-width: 882px;
  font-weight: 500;
  text-align: center;
  line-height: 40px;
  @media (max-width: 768px) {
    font-size: 20px;
    line-height: 36px;
  }
  @media (max-width: 340px) {
    font-size: 15px;
    line-height: 24px;
  }
}

.carousel {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 20px;
  width: 100%;
}

.carousel-inner {
  display: flex;
  align-items: center;
  gap: 25px;
  width: 100%;
}

.carousel-inner img {
  cursor: pointer;
  @media (max-width: 340px) {
    width: 39px;
    height: 21px;
  }
}

.line {
  border: 1px solid rgba(255, 255, 255, 0.2);
  width: 100%;
}

.carousel span {
  font-size: 96px;
  font-weight: 700;
  color: white;
  opacity: 0.7;
  @media (max-width: 768px) {
    font-size: 64px;
  }
  @media (max-width: 340px) {
    font-size: 48px;
  }
}

/*statistics*/


.description {
  font-size: 18px;
  line-height: 30px;
  margin: 0;
  @media (max-width: 768px) {
    font-size: 16px;
    line-height: 26px;
  }
  @media (max-width: 340px) {
    font-size: 14px;
    line-height: 24px;
  }
}

.description:last-of-type {
  margin-top: 30px;
}

.statistics {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  justify-content: space-between;
  margin-top: 60px;
  margin-bottom: 61px;
  @media (max-width: 768px) {
    justify-content: flex-start;
    gap: 67px
  }
  @media (max-width: 340px) {
    flex-direction: column;
    gap: 15px;
  }
}

.statistics li {
  @media (max-width: 340px) {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}


.statistics-number {
  font-size: 80px;
  line-height: 97px;
  font-weight: 700;
  color: #CDBD84;
  padding: 0;
  margin: 0;
  white-space: nowrap;
  @media (max-width: 768px) {
    font-size: 72px;
    line-height: 82px;
  }
  @media (max-width: 340px) {
    font-size: 48px;
    line-height: 58px;
    text-align: right;
    width: 115px;
  }
}

.statistics-number span {
  font-size: 24px;
  line-height: 58px;
}

.statistics li p {
  font-size: 18px;
  line-height: 30px;
  text-align: left;
  @media (max-width: 768px) {
    font-size: 18px;
    line-height: 26px;
  }
  @media (max-width: 340px) {
    font-size: 14px;
    line-height: 24px;
    word-break: break-word;
  }
}

/*elevator-equipment*/

.elevator-equipment {
  margin-bottom: 75px;

}

h3 {
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  @media (max-width: 768px) {
    font-size: 30px;
    line-height: 36px;
  }
}

.elevator-equipment .images {
  display: grid;
  grid-template-columns:1fr 1fr 1fr 1fr;
  gap: 30px;
  @media (max-width: 768px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (max-width: 526px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 350px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.elevator-equipment .image-container {
  position: relative;
  cursor: pointer;
  display: inline-block;
  max-width: 300px;
  max-height: 240px;
}

.elevator-equipment .image-container p {
  position: absolute;
  top: 20px;
  left: 20px;
  color: white;
  font-size: clamp(16px, 2vw, 22px);
  font-weight: 600;
  margin: 0;
  @media (max-width: 768px) {
    font-size: 16px;
  }
}


.image-container img:first-child {
  width: 100%;
  height: 100%;
  filter: brightness(70%);
}

.elevator-equipment .image-container img:last-child {
  position: absolute;
  bottom: 30px;
  left: 20px;
  height: 22px;
  width: 39px;
}

/*another-equipment*/

.another-equipment {
  margin-bottom: 69px;
}

.another-equipment .images {
  display: grid;
  grid-template-columns:1fr 1fr;
  gap: 30px;
  @media (max-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: 340px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.another-equipment .image-container {
  position: relative;
  cursor: pointer;
  display: inline-block;
  max-width: 630px;
  max-height: 240px;
}

.another-equipment .image-container p {
  position: absolute;
  top: 20px;
  left: 20px;
  color: white;
  font-size: clamp(12px, 20vw, 22px);
  font-weight: 600;
  margin: 0;
  @media (max-width: 768px) {
    font-size: 16px;
  }
}

.another-equipment .image-container img:first-child {
  filter: brightness(70%);
}

.another-equipment .image-container img:last-child {
  position: absolute;
  bottom: 20px;
  left: 20px;
  height: 22px;
  width: 39px;
}

.another-equipment-info {
  margin-top: 62px;
}

.another-equipment-info p {
  font-size: 18px;
  line-height: 30px;
  @media (max-width: 768px) {
    font-size: 16px;
    line-height: 26px;
  }
  @media (max-width: 340px) {
    font-size: 14px;
    line-height: 24px;
  }

}

/*services*/

.services {
  margin-bottom: 67px;
}

.services-wrapper {
  display: grid;
  grid-template-columns:1fr 1fr;
  gap: 30px;
  @media (max-width: 540px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.services .image-container {
  cursor: pointer;
  position: relative;
  display: inline-block;
  max-width: 630px;
  max-height: 240px;
}

.services .image-container span {
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: clamp(48px, 10vw, 72px);
  font-weight: 700;
  opacity: 0.5;
  color: white;
  padding: 0;
  margin: 0;
  @media (max-width: 768px) {
    font-size: 48px;
  }
}

.service-description h4 {
  font-size: 22px;
  font-weight: 600;
  color: #69A54D;
  margin: 31px 0 0 0;
  @media (max-width: 768px) {
    font-size: 18px;
  }
}

.service-description p {
  font-size: 16px;
  line-height: 24px;
  color: black;
  @media (max-width: 768px) {
    font-size: 14px;
  }
}

/*company-news*/

.company-news {
  margin-bottom: 130px;
}

.title-wrapper h3 {
  font-size: 40px;
  @media (max-width: 768px) {
    font-size: 30px;
  }
  @media (max-width: 340px) {
    font-size: 24px;
  }
}

.title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-wrapper div {
  display: flex;
  gap: 25px;
}

.title-wrapper img {
  cursor: pointer;
  @media (max-width: 340px) {
    display: none;
  }
}

.news-content {
  display: grid;
  grid-template-columns:1fr 1fr 1fr;
  gap: 30px;
  @media (max-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: 480px) {
    grid-template-columns: 1fr;
  }
}

.news-card .image-container {
  display: inline-block;
  max-width: 410px;
  max-height: 240px;
}


.news-card:last-child {
  @media (max-width: 768px) {
    display: none;
  }
}

.news-card:nth-child(2) {
  @media (max-width: 340px) {
    display: none;
  }
}

.news-card h4 {
  font-size: 22px;
  font-weight: 600;
  color: #69A54D;
  margin: 31px 0 17px 0;
  @media (max-width: 768px) {
    font-size: 18px;
  }

}

.news-card time {
  font-size: 14px;
  font-weight: 600;
  color: #CAC1A0;
}

.news-card p {
  font-size: 16px;
  line-height: 24px;
  @media (max-width: 768px) {
    font-size: 14px;
  }
}

/*feedback-form*/

.feedback-form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #7F9D64;
  padding-top: 75px;
  padding-bottom: 102px;
}

.form-container {
  width: 100%;
  max-width: 1290px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 40px;
  @media (max-width: 768px) {
    padding: 0 20px;
  }
}

form span {
  font-size: 16px;
  color: white;
  margin-top: 24px;
  margin-bottom: 50px;
  text-align: center;
  @media (max-width: 768px) {
    font-size: 14px;
  }
}

form button {
  width: 250px;
  height: 48px;
  color: #69A54D;
  font-size: 16px;
  font-weight: 600;
  font-family: Montserrat, serif;
  cursor: pointer;
}

.form-container h3 {
  color: white;
  margin-bottom: 55px;
  margin-top: 0;
  font-size: 40px;
  line-height: 48px;
  @media (max-width: 768px) {
    font-size: 30px;
    line-height: 36px;
  }
  @media (max-width: 340px) {
    font-size: 24px;
    line-height: 29px;
  }
}

.form-container input {
  background-color: #7F9D64;
  border: 1px solid rgba(255, 255, 255, 0.48);
  color: white;
  padding: 13px 0 13px 19px;
  font-size: 16px;
}

.form-container textarea {
  background-color: #7F9D64;
  border: 1px solid rgba(255, 255, 255, 0.48);
  color: white;
  padding: 13px 0 13px 19px;
  font-size: 16px;
  resize: none;
  min-height: 143px;
}

.form-container textarea::placeholder {
  color: white;
  font-size: 16px;
  font-family: Montserrat, serif;
}

.form-container input::placeholder {
  color: white;
  font-size: 16px;
  font-family: Montserrat, serif;
}

.inputs-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  @media (max-width: 768px) {
    flex-direction: row;
  }
  @media (max-width: 538px) {
    flex-direction: column;
  }
}

.inputs-container .contact-info {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  width: 100%;
  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.form-container .contact-info input {
  flex: 1;
  min-width: 0;
}

/*footer*/

footer {
  width: 100%;
  background-color: rgba(232, 222, 186, 0.28);
  box-sizing: border-box;
}

.footer-wrapper {
  box-sizing: border-box;
  width: 100%;
}

footer section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid rgba(228, 228, 228, 1);
}

footer section:last-child {
  border-bottom: none;
}

.footer-menu {
  display: flex;
  max-width: 1290px;
  width: 100%;
  gap: 40px;
  align-items: flex-start;
  justify-content: space-between;
  padding: 64px 40px;
  box-sizing: border-box;
  @media (max-width: 768px) {
    display: none;
  }
}

.footer-menu .logo-container {
  display: flex;
  gap: 94px;
}

.footer-menu img {
  width: 132px;
  height: 116px;
}


.links {
  display: flex;
  flex-direction: column;
  gap: 18px;
  font-size: 16px;
}

.contacts {
  display: flex;
  gap: 40px;
  width: 100%;
  max-width: 1290px;
  padding: 40px 40px;
  box-sizing: border-box;
  justify-content: space-between;
  @media (max-width: 768px) {
    flex-wrap: wrap;
    justify-content: center;
  }

  @media (max-width: 340px) {
    justify-content: center;

  }
}

.contacts div {
  @media (max-width: 340px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

.contacts p {
  font-size: 16px;
  line-height: 24px;
  @media (max-width: 768px) {
    font-size: 14px;
  }
}


.contacts img {
  width: 32px;
  height: 32px;
}


.company-info-wrapper {
  background-color: white;
}

.company-info {
  display: flex;
  max-width: 1290px;
  width: 100%;
  gap: 18px;
  justify-content: space-between;
  padding: 26px 40px 36px 40px;
  box-sizing: border-box;
  @media (max-width: 768px) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
    text-align: center;
  }
  @media (max-width: 340px) {
    padding: 26px 20px 36px 20px;
  }
}

.company-info p {
  font-size: 16px;
  color: rgba(34, 34, 34, 1);
  @media (max-width: 768px) {
    font-size: 14px;
    text-wrap: nowrap;
  }
}




