@media (max-width: 1322px) {
  .page-header__mail-wrapper {
    display: none;
  }
}


@media (max-width: 1096px) {

  /*page-header*/

  .page-header__content {
    font-size: 14px;
    padding: 15px 40px;
  }

  .page-header__burger-icon {
    display: block;
  }

  .page-header__logo-wrapper img:last-child {
    margin: 0;
    width: 106px;
    height: 93px;
  }

  .page-header__header-items {
    gap: 37px;
  }

  .page-header__navigation {
    display: none;

  }

  .page-header__schedule {
    flex-direction: column;
    text-align: right;
    margin-left: 65px;
  }

  .page-header__language-switcher {
    font-size: 14px;
    line-height: 17px;
  }

  /*hero*/

  .hero__navigation {
    justify-content: flex-end;
    width: 100%;

  }

  .hero__menu {
    display: none;
  }

}

@media (max-width: 768px) {

  /*page-header*/

  .telephone-numbers {
    display: none;
  }

  /*hero*/

  .hero {
    max-height: 514px;
  }

  .hero__title {
    font-size: clamp(25px, 8vw, 57px);

  }

  .hero__sup-title {
    font-size: 20px;
    line-height: 36px;
  }

  .hero__carousel span {
    font-size: 64px;
  }

  /*statistics*/

  .main__description {
    font-size: 16px;
    line-height: 26px;
  }

  .main__statistics {
    justify-content: flex-start;
    gap: 67px
  }

  .main__statistics-number {
    font-size: 72px;
    line-height: 82px;
  }

  .main__statistics li p {
    font-size: 18px;
    line-height: 26px;
  }

  /*main*/

  .main__content h2 {
    font-size: 38px;
  }

  h3 {
    font-size: 30px;
    line-height: 36px;
  }

  /*elevator-equipment*/

  .elevator-equipment__images {
    grid-template-columns: repeat(3, 1fr);
  }

  .elevator-equipment__image p {
    font-size: 16px;
  }

  /*another-equipment*/

  .another-equipment__images {
    grid-template-columns: repeat(2, 1fr);
  }

  .another-equipment__image p {
    font-size: 16px;
  }

  .another-equipment__info p {
    font-size: 16px;
    line-height: 26px;
  }

  /*services*/

  .service__image span {
    font-size: 48px;
  }

  .service__description h4 {
    font-size: 18px;
  }

  .service__description p {
    font-size: 14px;
  }

  /*company-news*/

  .company-news__title-wrapper h3 {
    font-size: 30px;
  }


  .company-news__content {
    grid-template-columns: repeat(2, 1fr);
  }

  .news-card:last-child {
    display: none;
  }


  .news-card h4 {
    font-size: 18px;
  }

  .news-card p {
    font-size: 14px;
  }

  /*feedback-form*/

  .feedback-form__content form {
    padding: 0 20px;
  }

  form span {
    font-size: 14px;
  }

  .feedback-form__content h3 {
    font-size: 30px;
    line-height: 36px;
  }

  .feedback-form__inputs {
    flex-direction: row;
  }

  .feedback-form__contact-info {
    flex-direction: column;
  }

  /*footer*/

  .footer__navigation {
    display: none;
  }

  .footer__contacts {
    flex-wrap: wrap;
    justify-content: center;
  }

  .footer__contacts p {
    font-size: 14px;
  }

  .footer__company-info {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
    text-align: center;
  }

  .footer__company-info p {
    font-size: 14px;
    text-wrap: nowrap;
  }

}

@media (max-width: 666px) {
  .elevator-equipment__images {
    grid-template-columns: repeat(2, 1fr);
  }
}

